**/__pycache__
**/.pytest_cache
**/*.pdf
**/*.log
**/*.o
**/*.out
**/*ipynb*
**/*.npy
**/*.pkl
**/*.pickle
**/*.fig
**/output
**/templates
**/backup
**/errors
**/gobi
**/scratch
**/ckpt
**/build/test
**/*test.json
**/tmp.*
**/check
**/*.profile
**/data.hdf5*
**/mnt
**/*test.json

build/config/test.slurm
build/settings.tmp.json
build/*.stdout
build/*.stderr
build/tmp
build/data
build/data/**/data*.hdf5
build/data/**/data*.json

test/data
test/examples
test/config/settings.*.json
test/job

setup/requirements.txt.*.*

docs/site