**/__pycache__
**/*.pdf
**/*.log
**/*.o
**/*.out
**/*ipynb*
**/*.npy
**/*.pkl
**/*.pickle
**/*.fig
**/output
**/data
**/templates
**/backup
build/constrained.py
build/unconstrained.py
examples/nmr_decomposition
**/gobi
tmp
**/build/test
examples/**
build/new
build/plots
