**/__pycache__
**/.pytest_cache
**/*.pdf
**/*.log
**/*.o
**/*.out
**/*ipynb*
**/*.npy
**/*.pkl
**/*.pickle
**/*.fig
**/output
**/templates
**/backup
**/errors
**/gobi
**/ckpt
**/build/test
**/*test.json
**/tmp.*
**/check
**/*.profile
**/data.hdf5*
**/mnt
**/*test.json
setup/requirements.txt.*.*
test/config/settings.*.json
docs/site

build/config/test.slurm
build/settings.tmp.json
build/tmp
build/data
build/data/**/data*.hdf5
build/data/**/data*.json