python==3.10.5
numpy
scipy
h5py
pandas
pytables
matplotlib
pytest
natsort
joblib
parallel
absl-py
pyaml
autograd

jax==0.4.24
https://storage.googleapis.com/jax-releases/cuda11/jaxlib-0.4.24+cuda11.cudnn86-cp310-cp310-manylinux2014_x86_64.whl
