python=3.8.11
intelpython

mkl
mkl-devel
libgcc
libstdcxx-ng

numpy
scipy
scikit-learn
scikit-learn-intelex
h5py
pandas
pytables
snappy

matplotlib=3.5

pyaml
pytest
dill
jsonpickle
natsort
parallel

jax=0.3.14
jaxlib=0.3.7
jaxtyping=0.2.8
equinox
libgcc
libstdcxx-ng

notebook
nb_conda_kernels
jupyter
jupyter_contrib_nbextensions