python
intelpython
mkl
mkl-devel
numpy
scipy
scikit-learn
scikit-learn-intelex
h5py
pandas
pytables
snappy
matplotlib
pyaml
pytest
sympy
dill
jsonpickle
natsort
parallel
jax
jaxlib
jaxtyping
autograd
jupyter
jupyterlab=3.6.4
notebook
nb_conda_kernels
traitlets<5.10
mkdocs
pymdown-extensions
python-markdown-math
mkdocstrings
mkdocs-material