python=3.8.11
intelpython

mkl
mkl-devel
libgcc
numpy
scipy
scikit-learn-intelex
matplotlib=3.5
pandas
h5py

jax=0.3.14
jaxlib=0.3.7
equinox

pyaml
pytest
dill
jsonpickle
natsort
parallel

notebook
nb_conda_kernels
jupyter
jupyter_contrib_nbextensions