python=3.8.11
intelpython

python=3.8.11
intelpython
mkl
mkl-devel

python=3.8.11
intelpython
numpy
scipy
scikit-learn
scikit-learn-intelex
h5py
pandas
pytables
snappy

python=3.8.11
intelpython
matplotlib=3.5

python=3.8.11
intelpython
pyaml
pytest
sympy
dill
jsonpickle
natsort
parallel

python=3.8.11
intelpython
jax=0.3.14
jaxlib=0.3.7
jaxtyping=0.2.8
autograd

python=3.8.11
intelpython
notebook
nbconvert
nb_conda_kernels
jupyter
jupyter_contrib_nbextensions

python=3.8.11
intelpython
mkdocs
pymdown-extensions
python-markdown-math
mkdocstrings
mkdocs-material